

.Origen{
    width: 40%;
}



.Objetivos{
    width: 40%;
}


.Reconocimiento{
    width: 40%;
}


.Futuroproyecto{
    width: 40%;
}

.Veterinaria1{
    width: 200px;
    float: right;
    
}

.Veterinaria2{
    width: 200px;
    float: right;
}

.Veterinaria3{
    width: 200px;
    float: right;
}

.Veterinaria4{
    width: 200px;
    float: right;
}
.perro1{
    width: 200px;
}

.gato1{
    width: 200px;
}

.gato2{
    width: 200px;
}

.gato3{
    width: 200px;
}

.conejo1{
    width: 200px;
}

.conejo2{
    width: 200px;
}

.conejo3{
    width: 200px;
}